@charset "utf-8";
*{margin:0;padding:0;list-style:none;}
body{font:normal 100% "Microsoft YaHei", Verdana, Helvetica, Arial, sans-serif; font-size:16px;-webkit-text-size-adjust:100%;}
input,select,textarea{outline:0;border-radius:0;-webkit-appearance:none}
.fn-clear:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.fn-clear{*zoom:1}
a{color:#666;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a:active{color:#333;-webkit-tap-highlight-color:rgba(0,0,0,0);}
section,aside,header,footer,hgroup,article{display:block}

/*网页样式重置reset*/
html { font-size:1em;-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight:rgba(0,0,0,0);-webkit-text-size-adjust:none;}
a:link, a:visited { text-decoration:none}
img, input, button, select, textarea { vertical-align:middle}
img, fieldset { border:0}

/*统一样式*/
html,body{width:100%;height:100%;overflow:hidden;}
.m-prompt{display:none;}
@media screen and (orientation:landscape) {
.m-prompt{display:block;position:absolute;z-index:99999;top:0;left:0;width:100%;height:100%;}
}
.m-copyright:after{content:"";color:#FFFFFF;position:absolute;bottom:0.5%;left:0;width:100%;text-align:center;font-size:80%;background:url(../img/copyrightbg.png) repeat;z-index:999;}

/*模块 m-*/
.m-img {width:100%; height:100%;background-position:center;background-position:no-repeat;background-size:100% 100%;}

/* global */
#content {height:100%;width:100%;overflow:hidden;}
.content-center{ width:100%; height:100%; overflow-x:hidden; overflow-y:auto;}
.content-center,.content-center img{ width:100%; float:left;}

/*header*/
.topnav{ width:100%; position:absolute; left:0; top:0; background: #f2f2f2; border-bottom:1px solid #bbbbbb; display:inline-block; z-index:99;}
.navback{ float:left; padding:7px 50px 7px 11px; height:20px; display:block}
.navhome{ float:right; padding:7px 11px 7px 50px; height:20px; display:block}

/* public-center */
#content {height:100%;width:100%;overflow:hidden;}
.content-center{ width:100%; height:100%; overflow-x:hidden; overflow-y:auto;}
.content-center,.content-center img{ width:100%; float:left;}


.btn-list{ width:100%; float:left; margin:3% 0; display:inline;}
.btn-list table{ width:100%;}
.btn-list table tr{ width:100%;}
.btn-list table tr a{ width:100%; display:block; float:left;margin:0;}
.btn-list table tr img{ width:100%; }

/* page */
.logo-center{ width:100%; float:left;display:inline;}
.logo-center .logo{ width:40%; float:left; margin:0 30%; display:inline;}
.logo-center .line{ width:100%; float:left; display:inline;margin-top: 3%;}
.logo-center .logo-text{ width:100%; float:left; text-align:center; font-size:15px; color:#dfa83f;}
.function-list{ width:96%; float:left; margin:3% 2%; display:inline;}
.function-list ul li{width:45%; float:left; margin:0 2% 4%; text-align:center; font-size:14px; line-height:24px; display:inline;}
.function-list ul li:first-of-type{border-right: 2px #DFA941 solid;}
.function-list ul li a{ width:100%; float:left;}
.function-list ul li a p{ width:100%; float:left;display:inline;}
.function-list ul li a p img{ width:100%;border: 1px #DFA941 solid;}

.block_home_slider {
 	float:left;
	width:100%;
	position: relative;
	background-color: #ffffff;
	text-align: center;
	line-height: 0px;
	margin-right: auto;
	margin-left: auto;
	border-bottom:1px solid #ccc;
}  /*底部小图标*/
.block_home_slider .slide {position:relative;}
.block_home_slider .caption {padding:13px 16px 12px; position:absolute; left:0px; right:0px; bottom:0px; text-align:left;}
.block_home_slider .caption p {padding-bottom:0px; font-size:11px; color:#dedede; text-shadow:0px -1px #000000; line-height:17px;}
.block_home_slider .caption p.title {padding-bottom:6px; font-size:15px; color:#ffffff; font-weight:bold; line-height:normal;}
.block_home_slider .flex-direction-nav a {width:25px; height:25px; margin-top:-15px; display:block; position:absolute; top:50%; background-repeat:no-repeat;  text-indent:-9000px;}
.block_home_slider .flex-direction-nav a.flex-prev {left:6px; background-position:left top;}
.block_home_slider .flex-direction-nav a.flex-prev:hover {background-position:left bottom;}
.block_home_slider .flex-direction-nav a.flex-next {right:6px; background-position:right top;}
.block_home_slider .flex-direction-nav a.flex-next:hover {background-position:right bottom;}
.block_home_slider .flex-control-paging { position:absolute; bottom:8px; right:5%; display:inline-block; z-index:10}
.block_home_slider .flex-control-paging li {
	margin: 0px;
	padding: 0px;
	float: left;
	overflow: hidden;
	list-style-type: none;
}
.block_home_slider .flex-control-paging li a {width:12px; height:12px; display:block; background-repeat:no-repeat; background-image:url(../img/sprite_nav_3.png); text-indent:-9000px; cursor:pointer;}
.block_home_slider .flex-control-paging li a.flex-active {background-position:right top;}

.block_home_post_feature {width:300px;}
.block_home_post_feature p {padding-bottom:0px;}


.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {
width:100%; float:left;
	position:relative;
	display: none;
	-webkit-backface-visibility: hidden;
	list-style-type: none;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; height:195px; display: block;}
.flex-pauseplay span {text-transform: capitalize;}
.block_home_slider li .pic-name{ width:90%; position:absolute; top:165px; left:0; padding:0 5%; line-height:30px; font-size:14px; color:#fff; z-index:9; text-align:left;}
.block_home_slider li .gray-bg{ width:100%; height:30px; position:absolute; background:#000; top:165px; left:0;opacity:.4;filter:alpha(opacity=40); z-index:8}
@media screen and (min-width:375px){
.flexslider .slides img {width: 100%; height:215px; display: block;}
.flex-pauseplay span {text-transform: capitalize;}
.block_home_slider li .pic-name{ width:90%; position:absolute; top:185px; left:0; padding:0 5%; line-height:30px; font-size:14px; color:#fff; z-index:9; text-align:left;}
.block_home_slider li .gray-bg{ width:100%; height:30px; position:absolute; background:#000; top:185px; left:0;opacity:.4;filter:alpha(opacity=40); z-index:8}
}

/*滚动广告*/
#box_ads{z-index:999;width:100%;text-align:center;font-size:80%;background:#FFFFFF;cursor:pointer;}
#box_ads a{width:100%;height:100%;text-align:center;color:#FFFFFF;display:block;text-decoration:none; line-height:22px;}
#box_ads .list{position:relative;width:100%;height:100%;overflow:hidden;}
#box_ads .list ul{width:100%;}/*position:absolute;top:0;left:0;*/
#box_ads .list li{width:100%;height:100%;overflow:hidden}
#box_ads .list li img{width:100%;height:100%;}

#box_ads .count{position:absolute;right:0;bottom:0;display:none;}
#box_ads .count li{color:#fff;float:left;width:0px;height:0px;cursor:pointer;margin-right:5px;overflow:hidden;background:#F90;opacity:.7;filter:alpha(opacity=70);border-radius:20px}
#box_ads .count li.current{color:#fff;opacity:1;filter:alpha(opacity=100);font-weight:700;background:#f60}
#tmp{width:100px;height:100px;background:red;position:absolute;}








